flask
flask_login
flask_migrate
flask_admin
flask_wtf
flask_sqlalchemy==2.*
email_validator
python-decouple
gunicorn
quandl
pandas
plotly
xlrd
openpyxl
numpy
html5lib
yahoofinancials
yfinance
psycopg2
pyEX
currency_symbols
pytrends