{% extends "layouts/base.html" %}

{% block title %} Stock {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        {% include 'includes/breadcrumb.html' %}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-auto col-xl-8 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-auto">
                                <h2 class="mb-0">{{ data.iex.latestPrice }} {{ data.yahoo.currency | currency_symbol
                                    }} </h2>

                                {% if data.iex.latestPrice > data.iex.previousClose %}
                                <span class="text-c-green">
                                    {{ "+%.2f" | format(((data.iex.latestPrice - data.iex.previousClose) / data.iex.previousClose)*100) }}%
                                    <i class="feather icon-trending-up ml-1"></i>
                                </span>
                                {% else %}
                                <span class="text-c-red">
                                    {{ "%.2f" | format(((data.iex.latestPrice - data.iex.previousClose) / data.iex.previousClose)*100) }}%
                                    <i class="feather icon-trending-down ml-1"></i>
                                </span>
                                {% endif %}
                            </div>
                            <div class="col text-right">
                                <div class="toolbar btn-group p-l-25">
                                    <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
                                    <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
                                    <button id="one_year" class="btn btn-sm btn-outline-primary">1Y</button>
                                    <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
                                    <button id="all" class="btn btn-sm btn-outline-primary  active">ALL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pl-0">

                        <div id="stock-main-chart"></div>

                    </div>

                </div>
                <div class="card">
                    <div class="card-header p-t-5 p-b-10 border-bottom">
                        <ul class="nav nav-pills nav-fill mt-3 pb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-income-tab" data-toggle="pill"
                                   href="#pills-income"
                                   role="tab" aria-controls="pills-income" aria-selected="true"><i
                                        class="fas fa-file-invoice-dollar m-r-5"></i> Income</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-balance-tab" data-toggle="pill" href="#pills-balance"
                                   role="tab" aria-controls="pills-balance" aria-selected="false"><i
                                        class="fas fa-balance-scale m-r-5"></i> Balance Sheet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-cash-tab" data-toggle="pill" href="#pills-cash"
                                   role="tab" aria-controls="pills-cash" aria-selected="false"><i
                                        class="fas fa-chart-line m-r-5"></i> Cash Flow</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="tab-content" id="pills-tabFinancial">
                            <div class="tab-pane fade active show" id="pills-income" role="tabpanel"
                                 aria-labelledby="pills-income-tab">

                                <div class="table-responsive">
                                    <div class="income-scroll ps ps--active-x ps--active-y"
                                         style="height:400px;position:relative;">

                                        <table class="table table-striped m-b-0" id="income">
                                            <thead>
                                            <tr>
                                                <th><span class="f-10 text-muted mb-1 text-capitalize"><em>(Numbers in thousands)</em></span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id="totalRevenue">
                                                <th>Total Revenue <a class="help" data-toggle="popover"
                                                                     title="Total Revenue"
                                                                     data-content="Revenue is the income generated from normal business
                                                            operations.
                                                            It is the top line or gross income figure from which costs are
                                                            subtracted to determine net income."><i
                                                        class="feather icon-help-circle f-16"></i></a>
                                                </th>
                                            </tr>
                                            <tr id="costOfRevenue">
                                                <th>(Cost of Revenue) <a class="help" data-toggle="popover"
                                                                         title="Cost of Revenue"
                                                                         data-content="The cost of revenue is the total cost of
                                                           manufacturing and delivering a product or service to consumers.
                                                           Cost of revenue is designed to represent the direct costs associated with the goods and services the company provides."><i
                                                        class="feather icon-help-circle f-16"></i></a>
                                                </th>
                                            </tr>
                                            <tr id="grossProfit">
                                                <th>Gross Profit <a class="help" data-toggle="popover"
                                                                    title="Cost of Revenue"
                                                                    data-content="Gross profit is the profit a company makes after
                                                           deducting the costs associated with making and selling its products,
                                                           or the costs associated with providing its services.
                                                           Gross profit can be
                                                           calculated by subtracting the cost of revenue (Cost of Goods Sold COGS) from total revenue."><i
                                                        class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>
                                            <tr id="operatingExpenses">
                                                <th>(Operating Expense) <a class="help" data-toggle="popover"
                                                                           title="Cost of Revenue"
                                                                           data-content="Operating expenses, or OPEX for short, are the costs involved in running the day-to-day operations
                                                           of a company; they typically make up the majority of a company's expenses.
                                                           Operating Expenses take in R&D and SG&A (Selling, General, and Administrative Expenses) expenses."><i
                                                        class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>
                                            <tr id="operatingIncome">
                                                <th>Operating Income <a class="help" data-toggle="popover"
                                                                        title="Cost of Revenue"
                                                                        data-content="Operating income is an accounting figure that measures the amount
                                                           of profit realized from a business's operations, after deducting
                                                           operating expenses such as wages, depreciation, and cost of goods sold (COGS)."><i
                                                        class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>
                                            <tr id="ebit">
                                                <th>EBIT</th>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-balance" role="tabpanel"
                                 aria-labelledby="pills-balance-tab">
                                <div class="table-responsive">
                                    <div class="balance-scroll ps" style="height:400px;position:relative;">
                                        <table class="table table-striped m-b-0" id="balance">
                                            <thead>
                                            <tr>
                                                <th><span class="f-10 text-muted mb-1 text-capitalize"><em>(Numbers in thousands)</em></span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id="totalAssets">
                                                <th>Total Assets <a class="help" data-toggle="popover"
                                                                    title="Total Assets"
                                                                    data-content=""><i
                                                        class="feather icon-help-circle f-16"></i></a>
                                                </th>
                                            </tr>
                                            <tr id="totalCurrentAssets">
                                                <th><span class="f-14">&nbsp;
                                                        <i class="feather icon-chevron-right"></i> Current Assets <a
                                                            class="help" data-toggle="popover" title="Total Assets"
                                                            data-content=""><i
                                                            class="feather icon-help-circle f-16"></i></a></span>
                                                </th>
                                            </tr>
                                            <tr id="totalLiab">
                                                <th>Total Liabilities <a class="help" data-toggle="popover"
                                                                         title="Total Liabilities"
                                                                         data-content=""><i
                                                        class="feather icon-help-circle f-16"></i></a>
                                                </th>
                                            </tr>
                                            <tr id="totalCurrentLiabilities">
                                                <th>&nbsp;
                                                    <i class="feather icon-chevron-right"></i> Current Liabilities
                                                    <a class="help" data-toggle="popover"
                                                       title="Current Liabilities"
                                                       data-content=""><i
                                                            class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>
                                            <tr id="totalStockholderEquity">
                                                <th>Total Equity <a class="help" data-toggle="popover"
                                                                    title="Total Equity"
                                                                    data-content=""><i
                                                        class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>
                                            <tr id="retainedEarnings">
                                                <th>Retained Earnings <a class="help" data-toggle="popover"
                                                                         title="Cost of Revenue"
                                                                         data-content=""><i
                                                        class="feather icon-help-circle f-16"></i></a></th>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                 aria-labelledby="pills-contact-tab">
                                <div class="table-responsive">
                                    <div class="cashflow-scroll ps" style="height:420px;position:relative;">
                                        <table class="table table-hover m-b-0">

                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-xl-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xl-12">
                        <div class="card">
                            <!--<div class="card-header">
                                <h5>Informations</h5>
                            </div>-->
                            <div class="card-body">
                                <div class="text-center m-t-30">
                                    <img class="mh-100 mw-100 mb-5 bg-white"
                                         src="{{ data.yahoo.logo_url }}"/>
                                </div>
                                <dl class="dl-horizontal row">
                                    <dt class="col-sm-4">Name</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.longName }}</dd>
                                    <dt class="col-sm-4 m-b-10">Description</dt>
                                    <div id="stock-desc" class="modal fade" tabindex="-1" role="dialog"
                                         aria-labelledby="stock-desc" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="title">Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    {% autoescape false %}
                                                    {{ data.yahoo.longBusinessSummary | replace(". ", ".<br/><br/>") }}
                                                    {% endautoescape %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn  btn-secondary"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <dd class="col-sm-8"><a href="#!" data-toggle="modal" data-target="#stock-desc">Show
                                        Desc</a></dd>
                                    <dd id="collapseOne" class="col-sm-12 collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionExample" style="">
                                        {{ data.yahoo.longBusinessSummary | truncate }}
                                    </dd>
                                    <dt class="col-sm-4">Sector</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.sector }}</dd>
                                    <dt class="col-sm-4">Industry</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.industry }}</dd>
                                    <dt class="col-sm-4">Exchange</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.exchange }}</dd>
                                    <dt class="col-sm-4">Currency</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.currency }}</dd>
                                    <dt class="col-sm-4">Last Fiscal</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.lastFiscalYearEnd | timestamp }}</dd>
                                    <dt class="col-sm-4">Next Fiscal</dt>
                                    <dd class="col-sm-8">{{ data.yahoo.nextFiscalYearEnd | timestamp }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5 class="mb-1">Industry Highlights</h5>
                            </div>
                            <div class="card-body">
                                <div class="row pb-2">
                                    <span class="col-sm-6"></span>
                                    <span class="col-sm-3 text-center"><i class="feather icon-trending-up f-18"></i></span>
                                    <span class="col-sm-3 text-center">
                                        <i class="fas fa-industry f-18"></i>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-6">
                                    P/E Ratio
                                        <a class="help" data-toggle="popover"
                                       title="Price to Earnings Ratio"
                                       data-placement="left"
                                       data-content="">
                                            <i class="feather icon-help-circle"></i></a>
                                    </span>
                                    <span class="col-sm-3 text-center" data-compare-id="industry-pe" data-compare-value="lower">
                                        {% if data.yahoo.trailingPE is defined %}
                                        {{ "%.2f" | format(data.yahoo.trailingPE) }}
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </span>
                                    <span class="col-sm-3 text-center" id="industry-pe"></span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-6">
                                    P/B Ratio
                                        <a class="help" data-toggle="popover"
                                       title="Price to Book Ratio"
                                       data-placement="left"
                                       data-content="">
                                            <i class="feather icon-help-circle"></i></a>
                                    </span>
                                    <span class="col-sm-3 text-center" data-compare-id="industry-pb" data-compare-value="lower">{{ "%.2f" | format(data.yahoo.priceToBook) }}</span>
                                    <span class="col-sm-3 text-center" id="industry-pb"></span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-6">
                                    1 Year Perf.
                                    </span>
                                    <span class="col-sm-3 text-center" data-compare-id="industry-perf_1y" data-compare-value="greater">{{  "%.2f" | format(data.math.perf_1y) }}%</span>
                                    <span class="col-sm-3 text-center" id="industry-perf_1y"></span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-6">
                                    Dividends Yields
                                        <a class="help" data-toggle="popover"
                                       title="Dividends Yields"
                                       data-placement="left"
                                       data-content="">
                                            <i class="feather icon-help-circle"></i></a>
                                    </span>
                                    <span class="col-sm-3 text-center">{{  "%.2f" | format(data.yahoo.dividendYield * 100) }}%</span>
                                    <span class="col-sm-3 text-center" id="industry-div_yield"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-12">
                        <div class="card" id="gtrend">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-auto">
                                        <h5>Google Trends</h5>

                                    </div>
                                    <div class="col text-right">
                                        <h4 class="mb-0"><span id="last"></span> %</h4>

                                        <span id="change"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body pl-0">

                                <div id="pytrend-chart"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<!-- custom js -->
<script src="/static/assets/js/pages/stock.js"></script>
<script>
'use strict';
$(document).ready(function() {
    fetch('/api/industry?name={{ data.yahoo.industry | urlencode }}').then((response) => {
        response.json().then(data => {
            display_data(data, 'industry');
            compare_data();
        });
    });
    fetch('/api/financials?symbol={{ data.yahoo.symbol | urlencode }}&type=income').then((response) => {
        response.json().then((data) => show_financial(data, 'income'));
    });
    fetch('/api/financials?symbol={{ data.yahoo.symbol | urlencode }}&type=balance').then((response) => {
        response.json().then((data) => show_financial(data, 'balance'));
    });
    fetch('/api/pytrend?terms={{ data.yahoo.shortName | urlencode }}').then((response) => {
        response.json().then((data) => show_pytrend(data));
    });

    setTimeout(function() {
        var options = apex_chart_options('stock-main-chart');
        options.series.push({
            name: '{{ data.yahoo.symbol }}',
            type: 'area',
            data: {{ data.tick }}
        });
        options.xaxis.tickAmount = 6;
        options.chart.height = 320;
        options.annotations.yaxis.push(apex_chart_annotate('y', {{ data.yahoo.twoHundredDayAverage }}, '200 Days Av.'))
        options.annotations.yaxis.push(apex_chart_annotate('y', {{ data.yahoo.fiftyDayAverage }}, '50 Days Av.'))
        /*options.chart.group = 'stock';*/
        var stock_chart = new ApexCharts(document.querySelector("#stock-main-chart"), options);
        stock_chart.render();


        var resetCssClasses = function(activeEl) {
            var els = document.querySelectorAll('button')
            Array.prototype.forEach.call(els, function(el) {
                el.classList.remove('active')
            })

            activeEl.target.classList.add('active')
        }

        document
        .querySelector('#one_month')
        .addEventListener('click', function(e) {
            resetCssClasses(e)
            stock_chart.zoomX(
                new Date().setMonth(new Date().getMonth() - 1),
                undefined
            )
        })

        document
        .querySelector('#six_months')
        .addEventListener('click', function(e) {
            resetCssClasses(e)
            stock_chart.zoomX(
                new Date().setMonth(new Date().getMonth() - 6),
                undefined
            )
        })

        document
        .querySelector('#one_year')
        .addEventListener('click', function(e) {
            resetCssClasses(e)
            stock_chart.zoomX(
                new Date().setMonth(new Date().getMonth() - 12),
                undefined
            )
        })

        document.querySelector('#ytd').addEventListener('click', function(e) {
            resetCssClasses(e)
            stock_chart.zoomX(
                new Date(new Date().getFullYear(), 0, 1).getTime(),
                undefined
            )
        })

        document.querySelector('#all').addEventListener('click', function(e) {
            resetCssClasses(e)
            stock_chart.zoomX(
                undefined,
                undefined
            )
        })
    }, 700);
});



</script>
{% endblock javascripts %}
