<script>

'use strict';
$(document).ready(function() {
    setTimeout(function() {
        $(function() {
            var options = {
                  series: [{
                      name: '{{ data.yahoo.symbol }}',
                      type: 'area',
                      data: {{ data.tick }}
                  }],
                  chart: {
                  id: 'stock-main-chart',
                  type: 'area',
                  height: 320,
                  zoom: {
                    autoScaleYaxis: true
                  }
            },
            annotations: {
                yaxis: [{
                    y: {{ data.yahoo.twoHundredDayAverage }},
                    borderColor: '#999',
                    forceNiceScale: true,
                    label: {
                        show: true,
                        text: '200 Days Av.',
                        align: 'left',
                        style: {
                            color: "#fff",
                            background: '#00E396'
                        }
                    }
                },
                {
                    y: {{ data.yahoo.fiftyDayAverage }},
                    borderColor: '#999',
                    label: {
                        show: true,
                        align: 'left',
                        text: '50 Days Av.',
                        style: {
                            color: "#fff",
                            background: '#00E396'
                        }
                    }
                }],
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
                style: 'hollow',
            },
            xaxis: {
                type: 'datetime',
                min: new Date().setMonth(new Date().getMonth() - 12),
                tickAmount: 6,
            },
            yaxis: {
                decimalsInFloat: 2,
            },
            tooltip: {
                  x: {
                        format: 'dd MMM yyyy'
                  }
            },
            fill: {
                  type: 'gradient',
                  gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.9,
                        stops: [0, 100]
                  }
            },
            };

            var chart = new ApexCharts(document.querySelector("#stock-main-chart"), options);
            chart.render();


            var resetCssClasses = function(activeEl) {
                var els = document.querySelectorAll('button')
                Array.prototype.forEach.call(els, function(el) {
                    el.classList.remove('active')
                })

                activeEl.target.classList.add('active')
            }

            document
            .querySelector('#one_month')
            .addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.zoomX(
                    new Date().setMonth(new Date().getMonth() - 1),
                    undefined
                )
            })

            document
            .querySelector('#six_months')
            .addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.zoomX(
                    new Date().setMonth(new Date().getMonth() - 6),
                    undefined
                )
            })

            document
            .querySelector('#one_year')
            .addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.zoomX(
                    new Date().setMonth(new Date().getMonth() - 12),
                    undefined
                )
            })

            document.querySelector('#ytd').addEventListener('click', function(e) {
            resetCssClasses(e)
            chart.zoomX(
                new Date(new Date().getFullYear(), 0, 1).getTime(),
                undefined
            )
            })

            document.querySelector('#all').addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.zoomX(
                    undefined,
                    undefined
                )
            })
        });
    }, 700);
});


</script>