<script>

'use strict';
$(document).ready(function() {
    setTimeout(function() {
        $(function() {
            var options = {
                annotations: {
                    yaxis: [{
                        y: {{ data.yahoo.twoHundredDayAverage }},
                        borderColor: '#999',
                        label: {
                            show: true,
                            text: '200 Days Av.',
                            style: {
                                color: "#fff",
                                background: '#00E396'
                            }
                        }
                    },
                    {
                        y: {{ data.yahoo.fiftyDayAverage }},
                        borderColor: '#999',
                        label: {
                            show: true,
                            text: '50 Days Av.',
                            style: {
                                color: "#fff",
                                background: '#00E396'
                            }
                        }
                    }],
                },
                chart: {
                    type: 'area',
                    height: 320,
                },
                dataLabels: {
                    enabled: false
                },
                series: [{
                        data: {{ data.tick }}
                    },

                ],
                markers: {
                    size: 0,
                    style: 'hollow',
                },
                colors: ["#4099ff"],
                xaxis: {

                    type: 'datetime',
                    min: function() {
                        var date = new Date();
                        return date.setMonth(date.getMonth() - 12);
                        },
                    tickAmount: 6,
                },
                yaxis: {
                    decimalsInFloat: 2,
                },
                tooltip: {
                    x: {
                        format: 'dd MMM yyyy'
                    }
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.9,
                        stops: [0, 100]
                    }
                },

            }
            var chart = new ApexCharts(
                document.querySelector("#stock-main-chart"),
                options
            );
            chart.render();
            var resetCssClasses = function(activeEl) {
                var els = document.querySelectorAll("button");
                Array.prototype.forEach.call(els, function(el) {
                    el.classList.remove('active');
                });

                activeEl.target.classList.add('active')
            }
            document.querySelector("#one_month").addEventListener('click', function(e) {
                var date = new Date();
                resetCssClasses(e)
                chart.updateOptions({
                    xaxis: {
                        min: date.setMonth(date.getMonth() - 1),
                        max: undefined,
                    }
                })
            })
            document.querySelector("#six_months").addEventListener('click', function(e) {
                var date = new Date();
                resetCssClasses(e)
                chart.updateOptions({
                    xaxis: {
                        min: date.setMonth(date.getMonth() - 6),
                        max: undefined,
                    }
                })
            })
            document.querySelector("#one_year").addEventListener('click', function(e) {
                var date = new Date();
                resetCssClasses(e)
                chart.updateOptions({
                    xaxis: {
                        min: date.setMonth(date.getMonth() - 12),
                        max: undefined,
                    }
                })
            })
            document.querySelector("#ytd").addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.updateOptions({
                    xaxis: {
                        min: new Date(new Date().getFullYear(), 0, 1).getTime(),
                        max: undefined,
                    }
                })
            })
            document.querySelector("#all").addEventListener('click', function(e) {
                resetCssClasses(e)
                chart.updateOptions({
                    xaxis: {
                        min: undefined,
                        max: undefined,
                    }
                })
            })
        });
    }, 700);
});

</script>