<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ segment | last | title }}</h5>
                </div>
                <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    {% for s in segment %}
                    <li class="breadcrumb-item">{{ s | title }}</li>
                     {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>