<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>
<script src="/static/assets/js/plugins/jquery-ui.min.js"></script>
<script>
$(document).ready(function () {
  $(function() {
    var availableTutorials  =  [
       "ActionScript",
       "Bootstrap",
       "C",
       "C++",
    ];
    $( "#search" ).autocomplete({
       source: '/autocomplete'
    });
 });
});
</script>